<th:block th:fragment="menu">
  <div class="flex gap-3">
    <a
      th:each="menuItem : ${menuFinder.getPrimary().menuItems}"
      th:text="${menuItem.status?.displayName}"
      th:href="${menuItem.status?.href}"
      th:target="${menuItem.spec.target?.value}"
      th:attr="x-data=|{ isActive: window.location.pathname === `${menuItem.status?.href}` }|"
      x-bind:class="{ 'shadow-button': isActive, 'bgc-primary': isActive, 'bgc-primary3': !isActive }"
      class="no-underline cursor-default px-4 py-2 rounded hover:bgc-primary hover:shadow-button transition duration-300 border-0 color-white text-3.5"
    ></a>
  </div>
</th:block>
